<div class = "container">
  <h1>Showing article details</h1>
    <div class="col-sm p-4"
      <p><strong>Title: </strong><%= @article.title %></p>
      <p><strong>Description:</strong><%= @article.description %></p>
      <% if logged_in? && @article.user == current_user || current_user.admin? %>
        <%= link_to 'Edit', edit_article_path(@article) %> |
        <%= link_to 'Delete', root_path(@article), method: :delete, data: { confirm: "Are you sure?"} %> |
      <% end %>
      <%= link_to 'Return to articles listing', root_path %>
      <br>
      <small>Created <%= time_ago_in_words(@article.created_at) %> ago,
      Edited <%= time_ago_in_words(@article.updated_at) %> ago, by <%= @article.user.username if @article.user %></small>
    </div>
  </div>
